.reports-container{
  background-color: var(--secondlightest);
  display: flex;
  flex-direction: column ;
  gap: 2rem;
  padding: 0.5rem;
}
.dashboard-charts {
  display: flex;
  justify-content: space-evenly;
  gap: 2rem;

}

.dashboard-charts>span {
  width: 50%;
  padding: 1.5rem;
  border: 5px solid #4474a3;
  text-align: center;
}